@import "https://fonts.googleapis.com/css?family=Lato:300&subset=latin-ext"

#chat .new_conversation
  height: calc(100% - 48px)
  display: none
  flex-direction: column
  .chat__user-check-boxes
    margin: 10px 20px 0px 20px
    display: flex
    flex-direction: column
    height: calc(100% - 48px)
    overflow-y: auto
    &::-webkit-scrollbar
      display: none
  label
    position: relative
    margin: 1rem
    line-height: 135%
    cursor: pointer
    font-size: 18px
    font-family: "Lato" !important
    letter-spacing: 1.5px !important
    padding-left: 40px
  .chat__status
    &:after
      content: "\2022"
    &.offline
      &:after
        color: #EF5350
    &.online
      &:after
        color: #AED581

  input[type='submit']
    border-top: 1px solid #BDBDBD
    border-left: none
    border-bottom: none
    border-right: none
    font-family: "Lato" !important
    letter-spacing: 1.5px !important
    font-size: 17px
    background: transparent
    width: 100%
    padding: 10px 0 10px 0
    cursor: pointer
    transition: all 0.3s ease
    z-index: 10
    &:hover
      background: #BDBDBD

#chat .chat__errors
  text-align: center
  color: #F44336
