= form_for [chat, Chat::Conversation.new], remote: true do |f|
  - if chatable_users.present?
    = chatable_user_check_boxes(f)
    .chat__submit-container= f.submit "Start Chatting"
  - else
    .chat__none-available
      = material_icon.people
      %h5 No Chatable Users
