@font-face
  font-family: 'Avenir'
  src: url("/assets/AvenirLTStd-Book.otf") format("otf")
  font-weight: normal
  font-style: normal
  -webkit-font-smoothing: antialiased

body, html
  font-family: 'Avenir' !important
  letter-spacing: 1.5px !important
  background-color: #fff
  height: 100%
  width: 100%
  margin: 0
a
  color: #212121 !important
  text-decoration: none
  i
    color: #212121 !important

#homeContainer
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  h1
    margin: 0
